@import 'tailwindcss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #8ea58b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 360px;
  min-height: 100vh;
}

@theme {
  --color-primary-500: #fbfd00;
  --color-primary-600: #94c507;
  --color-primary-700: #649200;
  --color-primary-800: #517601;
  --color-primary-900: #324d3e;
  --color-beige-400: #ece7ca;
  --color-primary-background: #8ea58b;
}

/* this needs to be moved from here, otherwise its not possible to override colors with tailwind without !important*/
button {
  padding: 0.5em 1em;
  background-color: #ece7ca;
  border: 1px solid #ece7ca;
  border-radius: 4px;
}

button:hover {
  opacity: 80%;
  cursor: pointer;
}
