@import 'tailwindcss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #7a8b76;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 360px;
  min-height: 100vh;
}

input:focus {
  outline: 2px solid black;
  outline-offset: -1px;
}

@theme {
  --color-primary-50: #f2f9e8;
  --color-primary-100: #e3f1d1;
  --color-primary-200: #cce4aa;
  --color-primary-300: #aed378;
  --color-primary-400: #94c507;
  --color-primary-500: #7ba805;
  --color-primary-600: #649200;
  --color-primary-700: #4d7005;
  --color-primary-800: #3d5711;
  --color-primary-900: #324d3e;

  --color-beige-50: #faf9f2;
  --color-beige-100: #f7f5e8;
  --color-beige-200: #f3f0dd;
  --color-beige-300: #f0ecd3;
  --color-beige-400: #ece7ca;
  --color-beige-500: #e3dbb8;
  --color-beige-600: #d4c89d;
  --color-beige-700: #c2b27e;
  --color-beige-800: #ab975f;
  --color-beige-900: #8c7a45;

  --color-primary-background: #8ea58b;

  --animate-fade-in: fadeIn 0.3s ease-out forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* this needs to be moved from here, otherwise its not possible to override colors with tailwind without !important*/
button {
  padding: 0.5em 1em;
  background-color: #ece7ca;
  border: 1px solid #ece7ca;
  border-radius: 4px;
  color: black;
}

button:hover {
  opacity: 80%;
  cursor: pointer;
}
